
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    	body{
   		font-family:Segoe UI Historic; 
   	}

    </style>
  </head>
  <body>
 <div class="jumbotron jumbotron-fluid bg-warning">

</div>
<div class="main">
<div class="jumbotron text-center bg-transparent" id="main">
	<h2 class="mb-5">Youtube Downloader</h2>
    	<div class="text-center">
	<form action="/" method="POST" >
 <input type="link" name="video_link" placeholder="Enter Link"><br>
<button type="submit"  id="">Download</button>
</form>

  </body>
</html>